@import "./global.scss";

.userForm {
    .inputImg {
        label {
            width: 180px;
            height: 180px;
            border-radius: 100px;
            svg {
                font-size: 36px;
            }
        }
    }
}
.profilePreview {
    .imgContainer {
        .inputImg {
            svg {
                left: 135px;
                top: 30px;
                font-size: 25px !important;
                padding: 5px;
                border-radius: 1000px;
                background-color: rgb(0 140 186 / 38%);
                color: #fff;
            }
        }
        img {
            width: 180px;
            height: 180px;
            border-radius: 100px;
        }
    }
}