@import "../global.scss";

.navbar {
    z-index: 9;
    .navbar-brand {
        img {
            max-width: 160px;
            height: auto;
        }
    }

    .mainMenu {
        .nav-item {
            display: flex;
            align-items: center;

            .nav-link {
                span {
                    background-color: #0015d623;
                    width: 35px;
                    height: 35px;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    span {
                        max-height: 16px;
                        max-width: 16px;
                        font-size: 10px;
                        padding: 0 12px;
                    }

                    svg {
                        fill: $grayColor
                    }
                }

                &::after {
                    display: none;
                }
            }

            .dropdown-menu {
                margin-top: 15px;
                padding: 10px;

            }
        }
    }

    .userMenu {
        .nav-item {
            .nav-link {
                img {
                    display: inline-block;
                    max-width: 32px;
                    height: 32px;
                    border-radius: 50px;
                    object-fit: cover;
                    object-position: top;
                    outline: 1px solid $primaryColor;
                    outline-offset: 4px;
                }

                .userInfo {
                    small {
                        position: relative;
                        top: -5px;
                    }
                }

                &::after {
                    position: relative;
                    top: -13px;
                }
            }

            .dropdown-menu {
                margin-top: 10px;
                padding: 10px;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    margin-left: 13px;
                    border-width: 10px;
                    border-style: solid;
                    border-color: transparent transparent #e2e2e2;
                }

            }
        }
    }
}

// All Responsive Code

@media only screen and (max-width: 992px) {
    .navbar {
        .mainMenuContainer {
            .actionButton {
                width: auto;
                padding: 4px 6px;
            }

            .mainMenu {
                position: absolute;
                top: 58px;
                right: 0;
                padding: 10px 10px;
                display: none;
                background-color: $whiteColor;

                .mainDropdown.dropdown-menu {
                    right: 53px;
                    margin-top: -45px;

                    &::before {
                        left: 100%;
                        bottom: calc(100% - 30px);
                        margin-left: 0;
                        border-color: transparent transparent transparent #e2e2e2;
                    }
                }
                .nav-item {
                   .settingDropdownMenu.dropdown-menu {
                        margin-left: -175px;
                        min-width: 190px;
                    }
                }
            }

            .mainMenu.show {
                display: block;
            }
        }

        .userMenu {
            .nav-item {
                .dropdown-menu {
                    left: -120px !important;

                    &:before {
                        left: 70%;
                    }
                }
            }
        }
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

}

@media only screen and (max-width: 410px) {
    .navbar {
        .navbar-brand {
            img {
                width: 130px;
            }
        }
        .mainMenuContainer {
            .mainMenu {
                padding: 10px;
                .mainDropdown {
                    .containerHeader {
                        min-width: 200px;
                    }
                }
            }
        }
        .userMenu {
            .nav-item {
             .nav-link img {
                width: 25px;
                height: 25px;
             }
            }
        }
            
    }
}